@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f1f6;
  --foreground: #242e42;
  --title-color: #424656;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
